/**
	Name: Deepak Singh
	File: style.css
	Date: 17 octuber 2023
	A very brief description of the file: by using css and html I'm making cool red button.
**/
html {
    font-family: sans-serif;
  }
  
  /* Your CSS below here */